<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">”
			<dependentAssembly>
				<assemblyIdentity name="UnityEngine.CoreModule"/>
				<codeBase version="0.0.0.0" href="D:\Game Modding\r2modman\_Data\ShadowsofDoubt\profiles\LocalModding\BepInEx\unity-libs\UnityEngine.CoreModule.dll"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="UnityEngine.JSONSerializeModule"/>
				<codeBase version="0.0.0.0" href="D:\Game Modding\r2modman\_Data\ShadowsofDoubt\profiles\LocalModding\BepInEx\unity-libs\UnityEngine.JSONSerializeModule.dll"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>